<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.controller.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddItem</servlet-name>
  	<display-name>AddItem</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteItem</servlet-name>
  	<display-name>DeleteItem</display-name>
  	<description></description>
  	<servlet-class>com.controller.DeleteItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubjective</servlet-name>
  	<display-name>AddSubjective</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddSubjective</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMCQ</servlet-name>
  	<display-name>AddMCQ</display-name>
  	<description></description>
  	<servlet-class>com.controller.AddMCQ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateItem</servlet-name>
  	<display-name>UpdateItem</display-name>
  	<description></description>
  	<servlet-class>com.controller.UpdateItem</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateSubjective</servlet-name>
  	<display-name>UpdateSubjective</display-name>
  	<description></description>
  	<servlet-class>com.controller.UpdateSubjective</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMCQ</servlet-name>
  	<display-name>UpdateMCQ</display-name>
  	<description></description>
  	<servlet-class>com.controller.UpdateMCQ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddItem</servlet-name>
  	<url-pattern>/AddItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteItem</servlet-name>
  	<url-pattern>/DeleteItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubjective</servlet-name>
  	<url-pattern>/AddSubjective</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMCQ</servlet-name>
  	<url-pattern>/AddMCQ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateItem</servlet-name>
  	<url-pattern>/UpdateItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateSubjective</servlet-name>
  	<url-pattern>/UpdateSubjective</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMCQ</servlet-name>
  	<url-pattern>/UpdateMCQ</url-pattern>
  </servlet-mapping>
</web-app>
